<h2>Socket TEST - Add products</h2>

<form id="form">
  <label>Product: </label><input type="text" name="name" id="name" />
  <label>Price: </label><input type="number" name="price" id="price" />
  <label>Stock: </label><input type="number" name="stock" id="stock" />
  <input type="submit" value="OK" />

</form>

<h2>Created Products</h2>
<p id="products"></p>

  
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>