<h2>Please Login </h2>
<form action="/users/login" method="post">
  Email:
  <input type="email" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="LOGIN" />
</form>

<h1>Not an register user?</h1>
<button onclick="location.href='/users/register'">Go register</button>
<button onclick="location.href='/users/register-github'">Login with GITHUB </button>