<div>
  <h2>Welcome to your profile site {{first_name}} </h2>

  <h1>Email registered:{{email}}</h1>
  <h1>Age:{{age}}</h1>

  <button onclick="location.href='/products'">Go shopping!!</button>
  <button onclick="location.href='/users/logout'">Logout</button>
</div>