<div>
  <h2>Welcome to your profile site {{session.info.email}}- </h2>
  <h2>Welcome to your profile site {{first_name}}- </h2>
  <h2>Welcome to your profile site {{user.last_name}}- </h2>

  <button onclick="location.href='/products'">Go shopping!!</button>
  <button onclick="location.href='/users/logout'">Logout</button>
</div>